
.header_container {
    display: flex;
    justify-content:space-between;
    align-items: center;
    height:50px;
    background-color: var(--color-blue);
    padding: var(--spacing-small);
    position: fixed;
    width: 100%;
}
.header_title {
    font-size: 28px;
    color: var(--color-white);
    padding: var(--spacing-small);
    margin: 0;
}
.header_counter {
    right: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--spacing-small);
    font-weight: bold;
    cursor: pointer;
    color: var(--color-white);
}
.header_img {
    width: 100%;
    height: 30px;
}