:root {
    --color-ligth:whitesmoke;
    --color-white:#fff;
    --color-grey: grey;
    --color-hover:#342D7E;
    --color-blue:#4863A0;
    --spacing-small: 10px;
    --spacing-medium: 15px;
    --spacing-large: 30px;

    --box-shadow: 
		0 16px 24px 2px rgba(33,37,41,.02), 
		0 6px 30px 5px rgba(33,37,41,.04), 
		0 8px 10px -5px rgba(33,37,41,.1);
}

* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.7;
    background-color: var(--color-ligth);
}
/* h1 {
    text-align: center;
    font-size: 28px;
    font-style: italic;
    color: var(--color-blue);
} */
