:root {
    --color-white:whitesmoke;
}

* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    line-height: 1.7;
    background-color: var(--color-white);
    
}