* {
    box-sizing: border-box;
}
html, body {
    
    font-family: sans-serif;
    /* padding: 0; */
    font-size: 16px;
    height: 100%;
    background-color: gainsboro /* doesn't work */
}
/* .wrapper {
    max-width: 800px;
} */
.shopping__form * {
    outline: none;
}
.shopping__form {
    max-width: 550px;
    margin: 0 auto;
    color: white; 
    padding: 30px;
    background-color: gray;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.3);
}
h2 {
    font-size: 26px;
    font-weight: 400;
    color: white;
    margin-top: 30px;
}
.shopping__item {
    margin-top: 20px;
}
.shopping__label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
}
.shopping__input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding: 0 20px;
    border: none;
    transition: transform all 5s ease 0s ;
}
.shopping__input:focus {
    box-shadow: 0 3px 0 #4863A0;
}
.form_button {
    margin: 20px 0;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    font-size: inherit;
    font-weight: inherit;
    border: none;
    cursor: pointer;
}
/* .form_rec {
    color:#4863A0;
    list-style-position: inside;
    font-size: 12px;
    font-style: italic;
    margin: 10px 0 0 10px;
    text-align: left;
}
.form_rec.invalid {
	color: #e74c3c;
}
.form_rec.valid {
	color: #2ecc71;
}

.form_rec.valid:after {
	display: inline-block;
	padding-left: 10px;
	content: "\2713";
} */
.shopping__input2 {
    display: none;
}
.shopping__input2:checked + .shopping__label2::after {
    transform: scale(1);
}
.shopping__label2, .shopping__label_gift {
    font-size: 18px;
    display: inline-flex;
    line-height: 140%;
    align-items: center;
    position: relative;
    margin-top: 10px;
}
.shopping__label2::before {
    content: "";
    flex: 0 0 24px;
    height: 24px;
    border-radius: 50%;
    background-color: white;
    align-self: flex-start;
    margin-right: 10px;
}
.shopping__label2::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #4863A0;
    border-radius: 50%;
    left: 4px;
    top: 4px;
    transform:scale(0);
    transition: transform 0.5s ease 0s;
}
.shopping__input_gift {
    display: none;
}
/* .shopping__label_gift {
    margin-top: 10px;
    font-size: 18px;
    color: white;
    align-items: center;
} */
.shopping__label_gift::before {
    content: "";
    width: 24px; 
    /* flex: 0 0 24px; */
    height: 24px;
    background-color: white;
    border: none;
    align-self: flex-start;
    margin-right: 10px;
    border-radius: 5px;
}
.shopping__label_gift::after {
    content: "";
    background-color:#4863A0;
    border-radius: 5px;
    border:none;
    height: 16px;
    width: 16px;
    top: 4px;
    left: 4px;
    position: absolute;
    transform:scale(0);
    transition: transform 0.5s ease 0s;
    cursor: pointer;
}
.shopping__input_gift:checked + .shopping__label_gift::after {
    transform: scale(1);
}
.btn {
    background-color:#4863A0;
    border-radius: 5px;
    color: white;
    font-family: inherit;
    font-size: 18px;
    letter-spacing: 1px;
    transition: all 0.5s ease 0s;
    position: relative;
    top: 0;
    margin: 20px 0;
    width: 150px;
    height: 40px;
    font-weight: inherit;
    border: none;
    cursor: pointer;
}
.btn:hover {
   background-color: darkslateblue;
}  
/* .btn:hover:disabled, .btn:disabled {
    background-color: #d0cfd8;
    cursor: not-allowed;
} */ 
.btn:active {
    top: 3px;
    
}
.shopping__input._error {
    box-shadow: 0 0 15px red;
}